*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}
.text-center{
    text-align: center;
}

header{
    padding-top: 20px;
}
.logo{
    height: 60px;
    background-color: rgb(127, 229, 255);
}

nav, nav input, nav button{
    padding: 10px;
}

nav input{
    width: 400px;
}
nav button{
    margin-left: 10px;
    box-shadow: 3px 3px rgb(78, 78, 78);

}

.notes{
    border: 1px solid #666;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(78, 78, 78);
}

.slot{
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(176, 239, 255)     ;
    padding: 5px;
    box-shadow: 1px 1px rgb(78, 78, 78);


}

